name: Run Jest testing suite
on:
  workflow_dispatch:
  pull_request:

env:
  NODE_ENV: "test"

jobs:
  testing:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: "24.11.0"

      - uses: oven-sh/setup-bun@v2

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install deps
        run: bun install

      - name: Jest With Coverage
        run: bun run jest:test

      - name: Add Jest Report to Summary
        if: always()
        run: echo "$(cat test-dashboard.md)" >> $GITHUB_STEP_SUMMARY
